body {
    display: grid;
    grid-template-areas:
        "header header header"
        "login post ad"
        "footer footer footer";
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 1fr auto 250px; 
    gap: 10px;
}


#top_header {
    grid-area: header; 
    background-color: rgb(181, 191, 212);
    color: #fff;
    padding: 10px;
    height: 150px;
}
#top_header h1 {
    margin-top: 10px;
    margin-bottom: 10px; 
}


#login {
    grid-area: login; 
    background-color: rgb(181, 191, 212);
    padding: 10px;
}


#post {
    grid-area: post; 
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 10px; 
    padding: 10px;
}
#post article {
    display: grid; 
    grid-template-rows: auto 1fr; 
    gap: 10px; 
}
#post article h3 {
    margin: 0; 
    text-align: center;
    margin-bottom: 10px;
}
#post article figure{
    display: inline-block; 
    vertical-align: middle; 
    margin: 0; 
    width: auto;
}
#post article p {
    display: inline-block; 
    vertical-align: middle; 
    margin: 0; 
}


#ad {
    grid-area: ad; 
    padding: 10px;
}
#ad article {
    border: 2px solid #000;
    background-color: rgb(254, 255, 202);
    text-align: left;
    border-radius: 10px; 
    padding: 10px;
    margin-bottom: 10px; 
}


footer {
    grid-area: footer; 
    background-color: rgb(181, 191, 212);
    color: #fff;
    text-align: center;
    padding: 10px;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer ul li {
    display: inline;
    margin-right: 200px;
}
footer ul li a{
    color: #fff;
    text-decoration: none;
}  
footer ul li:last-child {
    margin-right: 0;
}
#foot > ul li:hover a{
    color: black;
}


.card {
    border: 2px solid #000;
    border-radius: 10px; 
    padding: 10px;
    margin-bottom: 10px; 
}
.card figure, 
.card p {
    margin-top: 10px;
}


*{padding:0;margin:0}
li{list-style-type: none;}
a{text-decoration: none; font-size: 20px;}
#navi{
    width: 800px;
    overflow: hidden;
    margin:1px auto;
}
#navi > li{
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color:rgb(181, 191, 212);
} 
#navi a{
    color:#fff;
}
.submenu > li{
    line-height: 30px;
    background-color: rgb(181, 191, 212); 
}
.submenu{
    height:0;
    overflow: hidden;
}
#navi > li:hover{
    background-color: white;  
    transition-duration: 0.5s;
}
#navi > li:hover .submenu {
    height: 60px;
    transition-duration: 1s;
}
#navi > li:hover a{
    color: black;
}
#navi > li:hover .submenu > li:hover a{
    color: white; 
}













